<!doctype html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	<title>Darts Scorer</title>
	<meta name="author" content="Callum Rimmer <callum@deadtrendy.co.uk>">

	<link rel="stylesheet" href="style/reset.css" media="screen">
	<link rel="stylesheet" href="style/style.css" media="screen">
	
	<script>
	
		/**
		* Object Generate - Normal in a JS file but here to negate WebService call for User Data.
		* Server Injects User Data
		*/
		  
		var Server = {
			userId : 123456,
			name : "caljrimmer",
			lastLogged : "2011-01-16T18:37:35Z"
		}
		
	</script>

	<script src="js/vendor/modernizr-1.6.min.js"></script>
	<script src="js/vendor/jquery.js"></script>
	<script src="js/vendor/underscore.js"></script>
	<script src="js/vendor/backbone.js"></script>
	<script src="js/vendor/jquery.timeago.js"></script> 
	<script src="js/DartsScorer.js"></script>
	<script src="js/original-app.js"></script>    

	<script type="text/template" id="record-template">
		<ul class="left">
			<li>No. of Games <span id="jb_number_of_games" class="special_record"><%= games %></span></li>
			<li>Highest 3 Darts <span id="jb_highest_3d" class="special_record"><%= highest3d %></span></li>
			<li>Highest Checkout <span id="jb_highest_checkout" class="special_record"><%= bestCheckout %></span></li>
			<li>
				180 <span id="jb_oneeighty" class="special_off"><%= oneEighty %></span>
				140 <span id="jb_oneforty" class="special_off"><%= oneForty %></span>
			</li>
			<li>
				120 <span id="jb_onetwenty" class="special_record"><%= oneTwenty %></span>
				100 <span id="jb_onehundred" class="special_record"><%= oneHundred %></span>
			</li> 
		</ul>
		<h2><%= ave %></h2>
		<p>Ave. per 3 Darts (last 30)</p>
		<ul class="right">
			<li>Least Throws <span id="jb_least_throws" class="special_record"><%= leastDarts %></span></li>
			<li>Best Average <span id="jb_best_average" class="special_record"><%= bestAve %></span></li>    
		</ul>  
	</script> 
	
	<script type="text/template" id="game-template-row">
		<td><%= gameEndFormat %></td>
		<td id="history_ach">
			<% if(achArray.length > 0 ){ %>
			    <span class="special_medal extra_space"><%= achMedal %></span>
				<div class="achDetail">
				<% _.each(achArray, function(ach) { %>
		          	<span class="special_medal extra_space"><%= ach %></span>
		        <% }); %>
		   		</div>    
			<% }else{ %>
				<span class="special_off extra_space"><%= achMedal %></span> 
			<%}%>
		</td>
		<td>
			<span class="special_record"><%= ave %></span>
		</td>
		<td>
			<span class="button but_red but_small">x</span>
		</td> 
	</script>
	
	<script type="text/template" id="achievement-template">
		<table cellspacing="0" cellpadding="0" class="tb_body">
			<tbody>
				<tr class="tb_subheader">
					<th style="width: 20%;">Label</th>
					<th style="width: 80%;">Achievements</th>
				</tr>
				<tr class="alt">
					<td>20s</td>
					<td>
						<span id="ach_oneeighty" class="<%= oneHundred %>">100</span>
						<span id="ach_oneforty" class="<%= oneTwenty %>">120</span>
						<span id="ach_onetwenty" class="<%= oneForty %>">140</span>
						<span id="ach_onehundred" class="<%= oneEighty %>">180</span>
					</td>
				</tr>
				<tr>
					<td>Bulls</td>
					<td>
						<span id="ach_greeneyes" class="<%= greeneye %>">3 Greeneye</span>
						<span id="ach_bullseyes" class="<%= bullseye %>">3 Bullseye</span>
					</td>
				</tr>
				<tr class="alt">
					<td>Grouping</td>
					<td>
						<span id="ach_singles" class="<%= singles %>">3 Singles</span>
						<span id="ach_doubles" class="<%= doubles %>">3 Doubles</span>
						<span id="ach_trebles" class="<%= trebles %>">3 Trebles</span>
					</td>
				</tr>
				<tr>
					<td>Darters</td>
					<td>
						<span id="ach_least24" class="<%= Darter24 %>">D24</span>
						<span id="ach_least21" class="<%= Darter21 %>">D21</span>
						<span id="ach_least18" class="<%= Darter18 %>">D18</span>
						<span id="ach_least15" class="<%= Darter15 %>">D15</span>
						<span id="ach_least12" class="<%= Darter12 %>">D12</span>
						<span id="ach_least9" class="<%= Darter9 %>">D9</span>
					</td>
				</tr>
				<tr class="alt">
					<td>Checkout</td>
					<td>
						<span id="ach_c50" class="<%= CO50 %>">C50</span>
						<span id="ach_c75" class="<%= CO75 %>">C75</span>
						<span id="ach_c100" class="<%= CO100 %>">C100</span>
						<span id="ach_c125" class="<%= CO125 %>">C125</span>
						<span id="ach_c150" class="<%= CO150 %>">C150</span>
						<span id="ach_c170" class="<%= CO170 %>">C170</span>
					</td>
				</tr>
				<tr>
					<td>Specials</td>
					<td>
						<span id="ach_shanghai" class="<%= shanghai %>">Shanghai</span>
					</td>
				</tr>
			</tbody>
		</table> 
	</script>
	
	<script type="text/template" id="graphic-scorer-template">
    	<div id="graphicScorer" class="clearfix">
			<ul class="vert clearfix">
			</ul>
		</div>
	</script>
	
	<script type="text/template" id="graphic-scorer-template-list">
    	<li class="<%= colour%>">
			<div class="double">
				<a href="#">D</a>
			</div>
			<div class="single">
				<a href="#"><%= number%></a>
			</div>
			<div class="treble">
				<a href="#">T</a>
			</div>
		</li>
	</script>
	
	<script type="text/template" id="graphic-scorer-template-list-bull">
    	<li class="bull">
			<div class="double">
				<a href="#">Gr</a>
			</div>
			<div class="treble">
				<a href="#">Bu</a>
			</div>
			<div class="double">
				<a href="#">Gr</a>
			</div>
		</li>
	</script>
	
	<script type="text/template" id="scorer-template">
	
    	<div id="score_buttons" class="clearfix">
			<input type="text" pattern="[0-9]*" maxlength="3" id="scoreInput" autocomplete="off" class="fl">
			<input class="button but_large but_green fr" type="submit" value="Enter Score" id="addScore">
		</div> 

		<div id="restart_buttons" class="clearfix">
			<a class="button but_very_large but_green fl" id="newGame" href="/#scoregame">Start New Game</a>
		</div>

		<div class="border-divide clear"></div>  

		<table class="dart_scoring">
			<tbody></tbody>
		</table>

	    <div class="border-divide noheight clear"></div>

		<div id="scorer_info">
			<p id="average">Ave : <span><%= ave %></span></p>
			<p id="total">Num : <span><%= numberDarts %></span></p>
		</div>
		
	</script>
	
	<script type="text/template" id="scorer-template-row">
		<td><div class="score_total"><%= score %></div></td>
		<td></td>
		<td></td>
		<td></td> 
	</script>
	
	<script type="text/template" id="scorer-template-row-individual">
		<h2><%= desc %></h2>
		<p><%= score %></p> 
	</script>  

</head>

<body>  
	
	<div id="container">

		<div id="nav_topbar">
			<div id="nav_topbar_content" class="clearfix">
				<a id="nav_dashboard" class="button but_medium but_green fl" href="/#">Dashboard</a>
				<a id="nav_scorer" class="button but_medium but_green fl" href="/#scoregame">Score a Game</a> 
				<a id="nav_logout" class="button but_medium but_red fr" href="/#">Logout</a>
			</div> 
		</div>

		<div class="logo-container">
			<img src="images/logo.png">
		</div>
		
		<div id="dashboardArea"> 

			<div class="maincontent">

				<div class="white_wrapper wrapper">
					<a rel="start_new_game" class="link_but button but_green" href="/#scoregame">Score a Game</a>
		        </div> 

		        <div id="johnsonbox_wrapper" class="wrapper">
			
					<div id="johnsonbox">
					</div> 
			
				</div>
				
				<div id="history_wrapper" class="wrapper">
					<div id="history"> 
						
						<table cellspacing="0" cellpadding="0" class="tb_body">
							<tbody>
								
								<tr class="tb_subheader">
									<th style="width: 22%;">When</th>
									<th style="width: 64%;">Achievements</th>
									<th style="width: 16%;">Ave.</th>
									<th style="width: 8%;"></th>
								</tr>
								
							</tbody>
						</table>
						
					</div>
				</div>
				
				<div id="achievements_wrapper" class="wrapper">
					<div id="achievements"></div>
				</div>  

			</div>  
		
		</div>
		
		<!-- EoF dashbaordArea-->
		
		<div id="scorerArea">
           
			<div class="maincontent">

				<div class="score_wrapper">
					<div id="scorer" class="clearfix"></div>
				</div>

			</div>

		</div>
		
		<!-- EoF scorerArea-->    
		
	</div>	

</body>
</html>
