<table cellspacing="0" cellpadding="0" class="tb_body">
	<tbody>
		<tr class="tb_subheader">
			<th style="width: 20%;">Label</th>
			<th style="width: 80%;">Achievements</th>
		</tr>
		<tr class="alt">
			<td>20s</td>
			<td>
				<span id="ach_oneeighty" class="<%= oneHundred %>">100</span>
				<span id="ach_oneforty" class="<%= oneTwenty %>">120</span>
				<span id="ach_onetwenty" class="<%= oneForty %>">140</span>
				<span id="ach_onehundred" class="<%= oneEighty %>">180</span>
			</td>
		</tr>
		<tr>
			<td>Bulls</td>
			<td>
				<span id="ach_greeneyes" class="<%= greeneye %>">3 Greeneye</span>
				<span id="ach_bullseyes" class="<%= bullseye %>">3 Bullseye</span>
			</td>
		</tr>
		<tr class="alt">
			<td>Grouping</td>
			<td>
				<span id="ach_singles" class="<%= singles %>">3 Singles</span>
				<span id="ach_doubles" class="<%= doubles %>">3 Doubles</span>
				<span id="ach_trebles" class="<%= trebles %>">3 Trebles</span>
			</td>
		</tr>
		<tr>
			<td>Darters</td>
			<td>
				<span id="ach_least24" class="<%= Darter24 %>">D24</span>
				<span id="ach_least21" class="<%= Darter21 %>">D21</span>
				<span id="ach_least18" class="<%= Darter18 %>">D18</span>
				<span id="ach_least15" class="<%= Darter15 %>">D15</span>
				<span id="ach_least12" class="<%= Darter12 %>">D12</span>
				<span id="ach_least9" class="<%= Darter9 %>">D9</span>
			</td>
		</tr>
		<tr class="alt">
			<td>Checkout</td>
			<td>
				<span id="ach_c50" class="<%= CO50 %>">C50</span>
				<span id="ach_c75" class="<%= CO75 %>">C75</span>
				<span id="ach_c100" class="<%= CO100 %>">C100</span>
				<span id="ach_c125" class="<%= CO125 %>">C125</span>
				<span id="ach_c150" class="<%= CO150 %>">C150</span>
				<span id="ach_c170" class="<%= CO170 %>">C170</span>
			</td>
		</tr>
		<tr>
			<td>Specials</td>
			<td>
				<span id="ach_shanghai" class="<%= shanghai %>">Shanghai</span>
			</td>
		</tr>
	</tbody>
</table>