<table cellspacing="0" cellpadding="0" class="tb_body">
	<tbody>
		<tr class="tb_subheader">
			<th style="width: 20%;"><%= LabelTx %></th>
			<th style="width: 80%;"><%= AchievementsTx %></th>
		</tr>
		<tr class="alt">
			<td>20s</td>
			<td>
				<span id="ach_oneeighty" <%if(oneHundred >0){%>class="on"<%}%>>100</span>
				<span id="ach_oneforty" <%if(oneTwenty >0){%>class="on"<%}%>>120</span>
				<span id="ach_onetwenty" <%if(oneForty >0){%>class="on"<%}%>>140</span>
				<span id="ach_onehundred" <%if(oneEighty >0){%>class="on"<%}%>>180</span>
			</td>
		</tr>
		<tr>
			<td><%= BullsTx %></td>
			<td>
				<span id="ach_greeneyes" <%if(greeneye >0){%>class="on"<%}%>>3 <%= GreenEyeTx %></span>
				<span id="ach_bullseyes" <%if(bullseye >0){%>class="on"<%}%>>3 <%= BullsEyeTx %></span>
			</td>
		</tr>
		<tr class="alt">
			<td><%= GroupingTx %></td>
			<td>
				<span id="ach_singles" <%if(singles >0){%>class="on"<%}%>>3 <%= SinglesTx %></span>
				<span id="ach_doubles" <%if(doubles >0){%>class="on"<%}%>>3 <%= DoublesTx %></span>
				<span id="ach_trebles" <%if(trebles >0){%>class="on"<%}%>>3 <%= TreblesTx %></span>
			</td>
		</tr>
		<tr>
			<td><%= DartersTx %></td>
			<td>
				<span id="ach_least24" <%if(leastDarts < 25 && leastDarts !== 0){%>class="on"<%}%>>D24</span>
				<span id="ach_least21" <%if(leastDarts < 22 && leastDarts !== 0){%>class="on"<%}%>>D21</span>
				<span id="ach_least18" <%if(leastDarts < 19 && leastDarts !== 0){%>class="on"<%}%>>D18</span>
				<span id="ach_least15" <%if(leastDarts < 16 && leastDarts !== 0){%>class="on"<%}%>>D15</span>
				<span id="ach_least12" <%if(leastDarts < 13 && leastDarts !== 0){%>class="on"<%}%>>D12</span>
				<span id="ach_least9" <%if(leastDarts < 10 && leastDarts !== 0){%>class="on"<%}%>>D9</span>
			</td>
		</tr>
		<tr class="alt">
			<td><%= CheckoutTx %></td>
			<td>
				<span id="ach_c50" <%if(bestCheckout > 49){%>class="on"<%}%>>C50</span>
				<span id="ach_c75" <%if(bestCheckout > 74){%>class="on"<%}%>>C75</span>
				<span id="ach_c100" <%if(bestCheckout > 99){%>class="on"<%}%>>C100</span>
				<span id="ach_c125" <%if(bestCheckout > 124){%>class="on"<%}%>>C125</span>
				<span id="ach_c150" <%if(bestCheckout > 149){%>class="on"<%}%>>C150</span>
				<span id="ach_c170" <%if(bestCheckout > 169){%>class="on"<%}%>>C170</span>
			</td>
		</tr>
		<tr>
			<td><%= SpecialsTx %></td>
			<td>
				<span id="ach_shanghai" <%if(shanghai >0){%>class="on"<%}%>><%= ShanghaiTx %></span>
			</td>
		</tr>
	</tbody>
</table>