<div class="maincontent">

    <div id="johnsonbox_wrapper" class="wrapper">
		<div id="johnsonbox"></div> 
	</div>
	
	<div id="history_wrapper" class="wrapper">
		<div id="history"> 
			<table cellspacing="0" cellpadding="0" class="tb_body">
				<tbody>
					
					<tr class="tb_subheader">
						<th style="width: 22%;">When</th>
						<th style="width: 64%;">Achievements</th>
						<th style="width: 16%;">Ave.</th>
						<th style="width: 8%;"></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div> 

</div>