<div id="gameDetails">
	<ul>
		<li><%= StartTx %> : <b><%= gameStart %></b></li>
		<li><%= FinishTx %> : <b><%= gameEnd %></b></li>
		<li><%= DurationTx %> : <b><%= duration %> <%= SecsTx %></b></li> 
	</ul>
</div>

<div class="border-divide noheight clear"></div>

<table class="dart_scoring">
	<tbody></tbody>
</table>

<div class="border-divide noheight clear"></div>

<div id="scorer_info">
	<p id="average"><%= AverageTx %> : <span><%= ave %></span></p>
	<p id="total"><%= NumberofDartsTx %> : <span><%= numberDarts %></span></p>
</div>