<td><%= gameEndFormat %></td>
<td id="history_ach">
	<% if(achArray.length > 0 ){ %>
	    <span class="on extra_space"><%= achArray.length %> <%= AchievementsTx %></span> 
	<% }else{ %>
		<span class="extra_space"><%= achArray.length %> <%= AchievementTx %></span> 
	<%}%>    
		<div class="achDetail">
		<% _.each(achArray, function(ach) { %>
          	<span class="on extra_space"><%= ach %></span>
        <% }); %>
   		</div>    

</td>
<td>
	<a class="showGame" data-id="<%= id %>"><%= ave.toFixed(2) %></a>
</td>
<td>
	<span class="button but_red but_small">x</span>
</td>