<div id="graphicScorer" class="clearfix">
	<ul class="vert clearfix">
		
		<li class="black">
			<div class="double">
				<a href="#" data-desc="20d">D</a>
			</div>
			<div class="single">
				<a href="#" data-desc="20">20</a>
			</div>
			<div class="treble">
				<a href="#" data-desc="20t">T</a>
			</div>
		</li>
		
		<li class="bull">
			<div class="double">
				<a href="#" data-desc="25">Gr</a>
			</div>
			<div class="treble">
				<a href="#" data-desc="50">Bu</a>
			</div>
			<div class="double">
				<a href="#" data-desc="25">Gr</a>
			</div>
		</li>
		
		<li class="white">
			<div class="double">
				<a href="#" data-desc="19d">D</a>
			</div>
			<div class="single">
				<a href="#" data-desc="19">20</a>
			</div>
			<div class="treble">
				<a href="#" data-desc="19t">T</a>
			</div>
		</li>
		
	</ul>
</div>