<div id="loginForm">                                             
	<h2>Enter your email to start:</h2>
	<p id="loginError">The email address is not correct</p>
	<div class="clear"></div>
	<input type="email" id="emailInput" maxlength="50" class="fl">
	<input class="button but_large but_green fr" type="button" value="Start" id="emailSubmit">
	<div class="clearPadd"></div> 
</div>

<div id="loginInfo">
	<p>We use your email address to store your game history and performance against. <b>We do not share this email</b> with anyone else</p>
</div>