<div id="score_buttons" class="clearfix">
	<input type="text" pattern="[0-9]*" maxlength="3" id="scoreInput" autocomplete="off" class="fl">
	<input class="button but_large but_green fr" type="submit" value="Enter Score" id="addScore">
</div> 

<div id="restart_buttons" class="clearfix">
	<a class="button but_very_large but_green fl" id="newGame" href="/#scoregame">Start New Game</a>
</div>

<div class="border-divide clear"></div>  

<table class="dart_scoring">
	<tbody></tbody>
</table>

<div class="border-divide noheight clear"></div>

<div id="scorer_info">
	<p id="average">Ave : <span><%= ave %></span></p>
	<p id="total">Num : <span><%= numberDarts %></span></p> 
	<p id="checkout"><%= checkoutRoute %></p>
</div>