<div class="scorerNavButtons">
	<a href="#" id="graphicView"><%= GraphicTx %></a> 
	<a href="#" id="keyboardView"><%= KeyboardTx %></a>
</div>

<div id="score_buttons" class="scoringInput clearfix" style="display:none;">
	<input type="number" pattern="[0-9]*" maxlength="3" id="scoreInput" autocomplete="off" class="fl">
	<div id="submitButtons">
		<a href="#" class="button but_large but_green fr"data-desc="t">T</a> 
		<a href="#" class="button but_large but_green fr" data-desc="d">D</a>
		<a href="#" class="button but_large but_green fr" data-desc="s">S</a> 
	</div>
	
	<!--input class="button but_large but_green fr" type="submit" value="<%= EnterScoreTx %>" id="addScore"-->
</div>

<div id="graphicScorerNew" class="scoringInput clearfix" style="display:none;">
	<ul>
		<li id="dart1" class="small white" data-desc="1">1</li>
		<li id="dart2" class="small black" data-desc="2">2</li>
		<li id="dart3" class="small black" data-desc="3">3</li>
		<li id="dart4" class="small white" data-desc="4">4</li>
		<li id="dart5" class="small white" data-desc="5">5</li>
		<li id="dart6" class="small white" data-desc="6">6</li>
		<li id="dart7" class="small black" data-desc="7">7</li>
		<li id="dart8" class="small black" data-desc="8">8</li>
		<li id="dart9" class="small white" data-desc="9">9</li>
		<li id="dart10" class="small black" data-desc="10">10</li>
		<li id="dart11" class="small white" data-desc="11">11</li>
		<li id="dart12" class="small black" data-desc="12">12</li>
		<li id="dart13" class="small black" data-desc="13">13</li>
		<li id="dart14" class="small black" data-desc="14">14</li>
		<li id="dart15" class="small white" data-desc="15">15</li>
		<li id="dart16" class="small white" data-desc="16">16</li>
		<li id="dart17" class="big white" data-desc="17">17</li>
		<li id="dart18" class="big black" data-desc="18">18</li>
		<li id="dart19" class="big white" data-desc="19">19</li>
		<li id="dart20" class="big black" data-desc="20">20</li>
		<li id="dartgeye1" class="geye" data-desc="25">G-Eye</li>
		<li id="dartbeye" class="beye" data-desc="50">B-Eye</li>
		<li id="dartgeye2" class="geye" data-desc="25">G-Eye</li>
		<li id="dartdouble" class="double" data-desc="d">Double</li>
		<li id="darttreble" class="treble" data-desc="t">Treble</li>
		<li id="dartmiss" class="miss" data-desc="0">Miss</li>
	</ul>
</div> 

<div id="restart_buttons" class="clearfix">
	<a class="button but_very_large but_green fl" id="newGame" href="#scoregame"><%= StartNewGameTx %></a>
</div>

<div class="border-divide clear"></div>  

<table class="dart_scoring">
	<tbody></tbody>
</table>

<div class="border-divide noheight clear"></div>

<div id="scorer_info">
	<p id="average"><%= AverageTx %> : <span><%= ave %></span></p>
	<p id="total"><%= NumberofDartsTx %> : <span><%= numberDarts %></span></p> 
	<p id="checkout"><%= checkoutRoute %></p>
</div>